#export MONGO_URI=mongodb+srv://docverification:q0UVaBnriPWhlgFk@cluster0.u3wy8uz.mongodb.net/docverification
export SOAP_REST_PORT=9002
export DB_NAME=docverification
export MONGO_URI=mongodb://localhost:27017/
